@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: ohrenstead;
  src: url(../public/static/fonts/Ohrenstead.ttf);
}

:root {
    --fontRoboto: roboto;
    --fontProtest: protestStrike;
    --transition: 0.2s ease;
}

* {
  font-family: var(--fontRoboto);
}


@media screen and (max-width: 1400px) {
  .divider-home {
    margin-top: 10vh!important;
  }
}

@media screen and (max-width: 999px) {
  .divider-home {
    margin-top: 0vh!important;
  }
}

@media screen and (max-width: 575px) {
  .divider-home {
    margin-top: 0vh!important;
  }
  .img-fluid {
    max-width: 88%!important;
    height: auto;
    margin-left: 5%;
  }
}



